{% extends 'order/base.html' %}
{% load static %}
{% block content %}
<div class=" group">
    <div class="content">
        <div class="inner_content">

            <div class="content_text">Получаешь визу?</div>
            <div class="content_text_1">Собираешься в лагерь?</div>
            <div class="content_text_2">Получаешь социальную карту?</div>
            <div class="content_text_final">Закажи справку с места обучения онлайн!</div>
        </div>
    </div>
    <div class="sidebar">
        <div class="inner_sidebar">Виды справок
            <img class="paper" src="{% static 'img/paper.jpg' %}" alt="Справка" width="94%">

        </div>
    </div>
</div>
{% endblock %}

